@import "global-variables.scss";

.trl {
    display: inline-block;
    height: 30px;

    .label {
        display: inline-block;
        height: 30px;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        box-sizing: border-box;
        padding-left: $spacer / 2;
        padding-right: $spacer / 2;
    }

    .icon {
        background-color: #ccc;
        display: inline-block;
        position: absolute;
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 15px;
        line-height: 10px;
        overflow: hidden;
    }

    &.small .label {
        display: none;
    }

    &[data-trl="1"], &[data-trl="2"] {
        .icon { background-color: #FF340A; color: white; }
    }
    &[data-trl="3"], &[data-trl="4"], &[data-trl="5"], &[data-trl="6"], &[data-trl="7"] {
        .icon { background-color: #FFB80A; }
    }
    &[data-trl="8"], &[data-trl="9"] {
        .icon { background-color: #5ECBF5; }
    }
}
