@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* scroll padding is important for when user clicks on #anchor links so they don't disappear behind fixed headers */
    .scroll-padding-none {
        scroll-padding-top: 0;
    }
    .scroll-padding-45 {
        scroll-padding-top: 45px;
    }
}

@layer base {

    html, body {
        @apply overscroll-none;
    }
    html {
        @apply bg-gray-200;
        /*
        background-image: url(/graph-bg.svg);
        background-position: 50%;
        background-size: cover;
        background-attachment: fixed;
        */
    }

    /* Z-indexes */
    .z-widget { @apply z-[1]; } /* Widgets like the dropdown of a select box */
    .z-modal { @apply z-20; } /* Modal dialogs */
    .z-tooltip { @apply z-30; } /* Tooltips */
    .z-mobile-menu { @apply z-50; } /* The menu that can be triggered on mobile, which slides in from the left and must be in front of everything on the page */

    /* Typography: apply this class to a section that contains prose, to ensure headings have reasonable size/weight, paragraphs are spaced, etc. */
    .neo-typography h1,
    .neo-typography h2,
    .neo-typography h3,
    .neo-typography h4,
    .neo-typography h5,
    .neo-typography h6  {
        @apply font-medium mt-6 mb-2 text-theme-heading-color;
    }
    .neo-typography h1 { @apply text-4xl; }
    .neo-typography h2 { @apply text-3xl; }
    .neo-typography h3 { @apply text-2xl; }
    .neo-typography h4 { @apply text-xl; }
    .neo-typography h5 { @apply text-lg; }
    .neo-typography p { font-weight: 400; @apply mt-1 mb-2; }
    .neo-typography a:not(.unstyled) { @apply underline text-theme-link-color; }

    /* marker color for lists */
    .neo-typography ul li::marker, .neo-typography ol li::marker {
        @apply text-gray-400;
    }
    /* Spacing for lists */
    .neo-typography ul:not(.unstyled), .neo-typography ol:not(.unstyled) {
        @apply mt-1 mb-2;
    }

    /* Unordered lists */
    .neo-typography ul:not(.unstyled) li {
        @apply ml-3 pl-2 mb-1;
        list-style-type: "▸";
    }

    /* Ordered lists */
    .neo-typography ol:not(.unstyled) li {
        @apply ml-6 pl-1 mb-1 list-decimal;
    }
    /* Internationalize our ordered lists: */
    .neo-typography ol li:lang(ar) { list-style-type: arabic-indic; }
    .neo-typography ol li:lang(he) { list-style-type: hebrew; }
    .neo-typography ol li:lang(ja) { list-style-type: japanese-informal; }
    .neo-typography ol li:lang(zh) { list-style-type: simp-chinese-informal; }
    .neo-typography ol li:lang(zh_TW) { list-style-type: trad-chinese-informal; }
    .neo-typography ol li:lang(zh_HK) { list-style-type: trad-chinese-informal; }
    .neo-typography ol li:lang(zh_HANT) { list-style-type: trad-chinese-informal; }
    .neo-typography ol li::marker {
        @apply text-sm;
    }

    /* Blockquote */
    .neo-typography blockquote {
        @apply ml-3 pl-3 pr-6 border-l-4 border-gray-200 text-gray-800;
    }
    /* Code */
    .neo-typography code {
        @apply text-sky-900;
    }
    /* Code Block */
    .neo-typography code pre {
        @apply ml-3 pl-3 pr-6 border-l-4 border-gray-200 text-sky-900 overflow-x-auto;
    }
    /* Animation that animates an element's 'transform' and also its visibility property, hiding/showing it before/after the transform */
    .transition-visibility-transform {
        transition: visibility cubic-bezier(0.4, 0, 0.2, 1) 150ms, transform cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    }

    /* Styles for the left panel */
    #left-panel ul li {
        @apply -mx-4 px-4 py-1 truncate;
    }
    #left-panel ul li a {
        @apply inline-block py-1 pt-[6px] -my-2 -mx-4 px-4 w-full box-content hover:bg-slate-200 truncate;
    }
}
